@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Special+Elite&display=swap');

@font-face {
    font-family: SpecialElites;
    src: url(../assets/SpecialElite-Regular.ttf);
}

* {
    margin: 0;
}

.header {
    background: #0285c777;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
}

.containerHeader {
    margin: auto;
    display: flex;
    width: 90%;
    height: 90px;
    align-items: center;
}

.listHeader {
    font-family: 'Merriweather', serif;
    text-shadow: 1.5px 1.2px 1.2px #000;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.linkList {
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 600ms, border-color 600ms;
    z-index: 10000;

}

.linkList::before,
.linkList::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3b79ff;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.linkList::before {
    top: -3px;
    transform-origin: left;
}

.linkList::after {
    bottom: -3px;
    transform-origin: right;
}

.linkList:hover::before,
.linkList:hover::after,
.active::before,
.active::after {
    transform: scaleX(1);
}

/* inicio da page Home */
.home {
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.home .backgroundHome {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.home h1 {
    font-family: SpecialElites;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(4, 8, 68);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    padding-bottom: 150px;
}

.home .logoHome{
    position: absolute;
    z-index: 1;
    justify-self: left;
    align-self: self-end;
    width: 210px;
    height: 200px;
    padding-right: 20px;
}

/* Page Curiosidades beco diagonal*/
.diagonAlley {
    display: flex;
}

.diagonAlley #backDiagonalAlley {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.diagonAlley #boxB{
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 320px;
    justify-self: left;
    align-self: center;
    padding-left: 100px;
    padding-bottom: 150px;
}
.diagonAlley #textB{
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 550px;
    font-size: 100%;
    justify-self: left;
    align-self: center;
    padding-left: 185px;
    padding-top: 240px;
    font-family: 'Merriweather', serif;
}
.diagonAlley #wand{
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 44px;
    justify-self: left;
    align-self: flex-start;
    padding-left: 100px;
    padding-top: 150px;
}
.diagonAlley #boxY{
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 300px;
    justify-self: right;
    align-self: center;
    padding-left: 800px;
    padding-top: 250px;
}
.diagonAlley #textY{
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 550px;
    font-size: 100%;
    justify-self: right;
    align-self: center;
    padding-left: 890px;
    padding-top: 650px;
    font-family: 'Merriweather', serif;
}
.diagonAlley #gold{
    position: absolute;
    z-index: 3;
    width: 110px;
    height: 90px;
    justify-self: right;
    align-self: center;
    padding-left: 770px;
    padding-top: 310px;
}

/* Page Curiosidades poções*/
.potionsSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.potionsSection .backPotions {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.potionsSection .potions {
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 500px;
}

.potionsSection .potionA {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(245, 87, 113, 0.425);
    & img{
        width: 100px;
        height: 115px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }
    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 250px;
        height: 130px;
        padding-left: 20px;
        color: #000;
        text-shadow: 1.5px 1.5px 1.5px #ffd3d3;
    }
}

.potionsSection .potionH {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(169, 69, 252, 0.425);
    & img{
        width: 65px;
        height: 100px;
        justify-self: start;
        padding-left: 12px;
        align-self: center;
    }
    & h2 {
        align-self: center;
        padding-bottom: 20px;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 300px;
        height: 120px;
        padding-left: 15px;
        color: #000;
        text-shadow: 1.5px 1.5px 1.5px #a78bfa;
    }
}

.potionsSection .potionV {
    display: flex;
    width: 410px;
    height:210px;
    border-radius: 10px;
    background-color: rgba(13, 194, 22, 0.514);
    & img{
        width: 60px;
        height: 130px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }
    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 315px;
        height: 120px;
        padding-left: 20px;
        padding-bottom: 50px;
        color: #000;
        text-shadow: 1.5px 1.5px 1.5px #86efac;
    }
}


.potionsSection .potionF {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(220, 233, 44, 0.589);
    & img{
        width: 75px;
        height: 135px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }
    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 280px;
        height: 120px;
        padding-left: 20px;
        padding-bottom: 16px;
        color: #000;
        text-shadow: 1.5px 1.5px 1.5px #fef08a;
    }
}