@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Merriweather:wght@700&family=Scope+One&family=Special+Elite&display=swap');

@font-face {
    font-family: SpecialElites;
    src: url(../assets/SpecialElite-Regular.ttf);
}

* {
    margin: 0;
}

/* inicio da page Home */
.home {
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.home .backgroundHome {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.home h1 {
    font-family: SpecialElites;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(4, 8, 68);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    padding-bottom: 150px;
}

.home .logoHome {
    position: absolute;
    z-index: 1;
    justify-self: left;
    align-self: self-end;
    width: 110px;
    height: 110;
    padding-right: 20px;
    margin-bottom: 32px;
}

/* Page Curiosidades beco diagonal*/
.diagonAlley {
    display: flex;
}

.diagonAlley #backDiagonalAlley {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.diagonAlley #boxB {
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 320px;
    justify-self: left;
    align-self: center;
    padding-left: 160px;
    padding-bottom: 150px;
}

.diagonAlley #textB {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 550px;
    font-size: 100%;
    justify-self: left;
    align-self: center;
    padding-left: 250px;
    padding-top: 240px;
    font-family: 'Merriweather', serif;
}

.diagonAlley #wand {
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 44px;
    justify-self: left;
    align-self: flex-start;
    padding-left: 140px;
    padding-top: 150px;
}

.diagonAlley #beco {
    position: absolute;
    z-index: 3;
    font-size: 110px;
    font-family: SpecialElites;
    justify-self: left;
    align-self: center;
    padding-left: 260px;
    padding-top: 360px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #1a0909;

}

.diagonAlley #diagonal {
    position: absolute;
    z-index: 3;
    font-size: 100px;
    font-family: SpecialElites;
    justify-self: right;
    align-self: center;
    padding-left: 790px;
    padding-bottom: 150px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #1a0909;
}

.diagonAlley #boxY {
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 300px;
    justify-self: right;
    align-self: center;
    padding-left: 800px;
    padding-top: 250px;
}

.diagonAlley #textY {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 550px;
    font-size: 100%;
    justify-self: right;
    align-self: center;
    padding-left: 890px;
    padding-top: 650px;
    font-family: 'Merriweather', serif;
}

.diagonAlley #gold {
    position: absolute;
    z-index: 3;
    width: 110px;
    height: 90px;
    justify-self: right;
    align-self: center;
    padding-left: 770px;
    padding-top: 310px;
}

/* page filme */
.filmes {
    display: flex;
    height: 1800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/backgroundFilmes.png);
}


.filmes .containerFilmes1 {
    display: flex;
    width: 95%;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
}

.filmes .containerFilmes2 {
    display: flex;
    width: 95%;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
}

.containerFilmes1 .boxFilmes {
    display: flex;
    width: 90%;
    height: 500px;
    flex-direction: row;
    margin-left: 50px;

    & img {
        width: 240px;
        height: 320px;
    }
}

.containerFilmes2 .boxFilmes {
    display: flex;
    width: 90%;
    height: 500px;
    flex-direction: row;

    & img {
        width: 240px;
        height: 320px;
    }
}

.containerFilmes1 .boxFilmes h1 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    width: 175px;
    padding-left: 25px;
    color: #fff;

}

.containerFilmes2 .boxFilmes h1 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    width: 175px;
    padding-left: 25px;
    color: #fff;

}

#f1 {
    box-shadow: 15px 10px 50px rgb(88, 115, 252);
}

#f2 {
    box-shadow: 15px 10px 50px rgb(62, 247, 207);
}

#f3 {
    box-shadow: 15px 10px 50px rgb(247, 235, 62);
}

#f4 {
    box-shadow: 15px 10px 50px rgb(164, 62, 247);
}

#f5 {
    box-shadow: 15px 10px 50px rgb(53, 165, 230);
}

#f6 {
    box-shadow: 17px 13px 50px rgb(135, 138, 151);
}

#f7 {
    box-shadow: 15px 10px 50px rgb(120, 192, 54);
}

#f8 {
    box-shadow: 18px 16px 50px rgb(11, 12, 65);
}


/* Page Curiosidades poções*/
.potionsSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.potionsSection .backPotions {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.potionsSection .potions {
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 500px;
}

.potionsSection .potionA {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(245, 87, 113, 0.425);

    & img {
        width: 100px;
        height: 115px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }

    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 250px;
        height: 130px;
        padding-left: 20px;
        color: #ffd3d3;
        text-shadow: 1.5px 1.5px 1.5px #1a0909;
    }
}

.potionsSection .potionH {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(169, 69, 252, 0.425);

    & img {
        width: 65px;
        height: 100px;
        justify-self: start;
        padding-left: 12px;
        align-self: center;
    }

    & h2 {
        align-self: center;
        padding-bottom: 20px;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 300px;
        height: 120px;
        padding-left: 15px;
        color: #e0d7ff;
        text-shadow: 1.5px 1.5px 1.5px #0a0224;
    }
}

.potionsSection .potionV {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(13, 194, 22, 0.514);

    & img {
        width: 60px;
        height: 130px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }

    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 315px;
        height: 120px;
        padding-left: 20px;
        padding-bottom: 50px;
        color: #c5eed4;
        text-shadow: 1.5px 1.5px 1.5px #03180b;
    }
}


.potionsSection .potionF {
    display: flex;
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background-color: rgba(220, 233, 44, 0.589);

    & img {
        width: 75px;
        height: 135px;
        justify-self: start;
        align-self: center;
        padding-left: 10px;
    }

    & h2 {
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: large;
        width: 280px;
        height: 120px;
        padding-left: 20px;
        padding-bottom: 16px;
        color: #000;
        text-shadow: 1.5px 1.5px 1.5px #fef08a;
    }
}

.legacy {
    display: flex;
    background-image: url(../assets/backLegacy.png);
    justify-content: center;
    align-items: end;
    height: 100vh;

    & .boxText {
        -webkit-box-shadow: 0px 0px 128px 48px rgba(46, 63, 255, 0.54);
        -moz-box-shadow: 0px 0px 128px 48px rgba(46, 63, 255, 0.54);
        box-shadow: 0px 0px 128px 48px rgba(46, 63, 255, 0.54);
        background-color: rgba(46, 63, 255, 0.39);
        width: 710px;
        height: 80px;
        display: flex;
        align-self: flex-end;
        margin-bottom: 20px;
        margin-left: 60px;
    }
}

.boxText h1 {
    align-self: center;
    justify-self: center;
    font-family: 'Scope One';
    font-size: 20px;
    color: rgb(212, 151, 18);
    text-shadow: 1.5px 1.5px 1.5px #000000;
    padding-left: 30px;
}

.legacy2 {
    display: flex;
    background-image: url(../assets/spell.png);
    align-items: center;
    height: 100vh;

    & .caixaTexto {
        display: flex;
        animation: left;
        animation-timeline: view();
        animation-range: cover -10% cover 40%;
    }
}

.legacy2 .caixaTexto p {
    width: 400px;
    color: white;
    font-family: 'Scope One';
    font-size: 28px;
    margin-left: 60px;
}

.legacy3 {
    display: flex;
    background-image: url(../assets/potions.png);
    justify-content: center;
    height: 100vh;

    & .caixaTexto {
        display: flex;
        justify-content: center;
        animation: up linear both;
        animation-timeline: view(block);
        animation-range: cover 10% cover 50%;
    }
}

.legacy3 .caixaTexto p {
    width: 800px;
    color: white;
    font-family: 'Scope One';
    font-size: 28px;
    padding-top: 130px;

}

.legacy4 {
    display: flex;
    background-image: url(../assets/legacyback.png);
    justify-content: center;
    align-items: center;
    height: 100vh;

    & .caixaTexto {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: up linear both;
        animation-timeline: view(block);
        animation-range: cover 7% cover 50%;
    }
}

.legacy4 .caixaTexto p {
    width: 800px;
    color: white;
    font-family: 'Scope One';
    font-size: 28px;

}

.legacy5 {
    display: flex;
    background-image: url(../assets/screen_01.png);
    align-items: center;
    height: 100vh;
    justify-content: center;

    & .caixaTexto {
        display: flex;
        width: 90%;
        justify-content: space-between;
        animation: up linear both;
        animation-timeline: view(block);
        animation-range: cover 10% cover 50%;
    }
}

.legacy5 .caixaTexto p {
    width: 300px;
    color: white;
    font-family: 'Scope One';
    font-size: 28px;
    text-shadow: #0a0224;
}

#pText{
    font-size: 32px;
    text-shadow: #0a0224;
}

@keyframes scroll {
    from {
        background-position: 60% 0;
    }

    to {
        background-position: 50% 100%;
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* pagina feitiços */
.containerSpells {
    width: 100%;
    display: flex;
    background-color: #000;
    height: 1500px;
}

.spells {
    display: flex;
    width: 90%;
    height: 95%;
    flex-wrap: wrap;
}

#lumos {
    width: 95%;
    height: 300px;
    display: flex;
    margin-left: 50px;
    margin-top: 240px;

    & img {
        width: 160px;
        height: 215px;
        align-self: center;
        position: absolute;
        padding-bottom: 230px;
        padding-left: 30px;
    }

    & h1 {
        font-size: 20px;
        color: #fff;
        font-family: 'Scope One';
        width: 80%;
        height: 12%;
        padding-left: 250px;
        padding-top: 20px;
    }
}

#accio {
    width: 95%;
    height: 300px;
    display: flex;
    margin-left: 20px;
    padding-bottom: 1000px;

    & img {
        width: 250px;
        height: 210px;
        align-self: center;
        position: absolute;
        padding-bottom: 230px;
    }

    & h1 {
        font-size: 20px;
        color: #fff;
        font-family: 'Scope One';
        width: 80%;
        height: 12%;
        padding-left: 280px;
    }
}

#patronum {
    width: 95%;
    height: 300px;
    display: flex;
    margin-left: 20px;
    padding-top: 860px;
    position: absolute;


    & img {
        width: 200px;
        height: 220px;
        align-self: center;
        position: absolute;
        padding-left: 30px;
        padding-bottom: 100px;
    }

    & h1 {
        font-size: 20px;
        color: #fff;
        font-family: 'Scope One';
        width: 80%;
        height: 12%;
        padding-left: 280px;
    }
}
#protego {
    width: 95%;
    height: 300px;
    display: flex;
    margin-left: 20px;
    padding-top: 1250px;
    position: absolute;

    & img {
        width: 250px;
        height: 210px;
        align-self: center;
        position: absolute;
        padding-bottom: 230px;
    }

    & h1 {
        font-size: 20px;
        color: #fff;
        font-family: 'Scope One';
        width: 80%;
        height: 12%;
        padding-left: 280px;
    }
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 450px;
    background-color: #000;
    & p{
        font-size: 22px;
        color: #e7e7e7;
    }
}
